* {
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header > h1 {
  margin: 0;
}

h2 + p {
  font-style: italic;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: #ccc;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ccc;
  color: #333;
}

#caption {
  font-weight: bold;
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px;
}

.contacts {
  color: #555;
  font-size: 16px;
}
